<div class='search-container'>
  <div class='search-filters-container'>
    <div class='search-param-group-section-container'>
      <h3 class='search-filter-section-header'>Repository Content</h3>
      {{filter-text-input data-test-filter-repository-name class='filter' value=repositoryName placeholder='Name' onTextChange=(mut repositoryName)}}
      {{filter-text-input data-test-filter-repository-description class='filter' value=repositoryDescription placeholder='Description' onTextChange=(mut repositoryDescription)}}
      {{filter-text-input data-test-filter-repository-readme class='filter' value=repositoryReadme placeholder='README' onTextChange=(mut repositoryReadme)}}
    </div>

    <div class='search-param-group-section-container'>
      <h3 class='search-filter-section-header'>User/Organization details</h3>
      {{filter-text-input data-test-filter-user class='filter' value=user placeholder='User' onTextChange=(mut user)}}
      {{filter-text-input data-test-filter-organizer class='filter' value=organization placeholder='Organization' onTextChange=(mut organization)}}
    </div>

    <div class='search-param-group-section-container'>
      <h3 class='search-filter-section-header'>Repository Details</h3>
      {{filter-text-input data-test-filter-repository-size class='filter' value=size placeholder='Repository Size' onTextChange=(mut size)}}
      {{filter-text-input data-test-filter-forks class='filter' value=forks placeholder='Number of forks' onTextChange=(mut forks)}}
      {{filter-text-input data-test-filter-stars class='filter' value=stars placeholder='Number of stars' onTextChange=(mut stars)}}
      {{filter-dropdown data-test-filter-languages options=languageOptions optionGroups=languageOptionGroups onOptionSelected=(mut language) value=language}}
    </div>

    <div class='search-param-group-section-container'>
      <h3 class='search-filter-section-header'>Search by Topic</h3>
      {{filter-text-input data-test-filter-topic class='filter' value=topic placeholder='Topic' onTextChange=(mut topic)}}
    </div>

    <button class='search-button' onclick={{action 'searchSelected'}}>Search</button>
  </div>

  {{outlet}}
</div>